[submodule "submodules/nethermind"]
	path = submodules/nethermind
	url = https://github.com/catalyst-network/nethermind.git
[submodule "submodules/protocol-protobuffs"]
	path = submodules/protocol-protobuffs
	url = https://github.com/catalyst-network/protocol-protobuffs.git
[submodule "submodules/Cryptography.FFI.Rust"]
	path = submodules/Cryptography.FFI.Rust
	url = https://github.com/catalyst-network/Cryptography.FFI.Rust.git
[submodule "submodules/net-ipfs-http-gateway"]
	path = submodules/net-ipfs-http-gateway
	url = https://github.com/catalyst-network/net-ipfs-http-gateway.git
[submodule "submodules/net-ipfs-core"]
	path = submodules/net-ipfs-core
	url = https://github.com/catalyst-network/net-ipfs-core.git
[submodule "submodules/net-ipfs-engine"]
	path = submodules/net-ipfs-engine
	url = https://github.com/catalyst-network/net-ipfs-engine.git