# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- develop

pool:
  vmImage: 'windows-latest'

steps:
- script: choco install sql-server-express -d -v -y
  displayName: 'install mssql-express'

- task: DotNetCoreInstaller@0
  displayName: 'Install .NetCore SDK'
  inputs:
    version: 2.2.104

- task: PowerShell@2
  inputs: 
    targetType: 'filePath'
    filePath:'sql_powershell.ps1'
    script: 'Write-Host Hello World Testing Powershell script section'

- bash: |
    git submodule update --init --force --recursive
  displayName: 'Clone submodules'

- script: |
    curl -sSf -o rustup-init.exe https://win.rustup.rs
    rustup-init.exe -y --default-toolchain %RUSTUP_TOOLCHAIN%
    echo "##vso[task.setvariable variable=PATH;]%PATH%;%USERPROFILE%\.cargo\bin"
  displayName: Windows install rust

- task: DotNetCoreCLI@2
  displayName: 'Run unit tests'
  inputs:
    command: test
    projects: 'src/*[Tt]ests/*.csproj'
    arguments: '--filter TestType=e2e --configuration $(BuildConfiguration)'
    failOnStandardError: 'true'
  timeoutInMinutes: 10