strategy:
  matrix:
    Windows-VS2019:
      imageName: 'vs2017-win2016'
      netcore_sdk: 3.0.100
      rustup_toolchain: nightly
    Osx-Mojave:
      imageName: 'macos-10.14'
      netcore_sdk: 3.0.100
      rustup_toolchain: nightly
    Ubuntu-1804:
      imageName: 'ubuntu-18.04'
      netcore_sdk: 3.0.100
      rustup_toolchain: nightly
  maxParallel: 3

variables:
  release.type: '-beta'
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'Debug'

pool:
  vmImage: $(imageName)

pr:
  - develop

schedules:
  - cron: "0 0 * * *"
    displayName: Daily midnight build
    branches:
      include:
        - master
        - develop
        - releases/*
        - feature/*
    always: true

steps:
  - task: DotNetCoreInstaller@0
    displayName: 'Install .NetCore SDK'
    inputs:
      version: 3.0.100
      failOnStandardError: 'true'

  - script: |
      curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly
      echo "##vso[task.setvariable variable=PATH;]$PATH:$HOME/.cargo/bin"
    displayName: Install rust
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - script: |
      rustup install nightly
    displayName: rustup install nightly

  - script: |
      rustup override set nightly
    displayName: rustup override set nightly  

  - task: DotNetCoreCLI@2
    displayName: 'Build solution'
    inputs:
      projects: 'src/**/*.csproj'
      arguments: '--configuration $(BuildConfiguration)'
      failOnStandardError: 'true'

  - script: 'dotnet tool install --global dotnet-reportgenerator-globaltool'
    displayName: 'Install coverage tools'
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: 'src/*[Tt]ests/*.csproj'
      arguments: '--filter TestType!=IntegrationTest --configuration $(BuildConfiguration)'
      failOnStandardError: 'true'
    timeoutInMinutes: 10
    condition: ne( variables['Agent.OS'], 'Windows_NT' )

  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests with coverage'
    inputs:
      command: test
      projects: 'src/*[Tt]ests/*.csproj'
      arguments: '--filter TestType!=IntegrationTest --configuration $(BuildConfiguration) /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:UseSourceLink=true /p:Exclude="\"[Catalyst.Tools*]Catalyst.Tools*[Catalyst.Protocol*]Catalyst.Protocol*,[Catalyst.Simulator*]Catalyst.Simulator*,[Catalyst.TestUtils*]Catalyst.TestUtils*\"" /p:Include="\"[Catalyst.Core.*]Catalyst.Core.*,[Catalyst.Modules.*]Catalyst.Modules.*\"" /p:Threshold=0 /p:ThresholdType=line /p:ThresholdStat=total'
      failOnStandardError: 'true'
    timeoutInMinutes: 10
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - task: DotNetCoreCLI@2
    displayName: 'Run integration tests'
    inputs:
      command: test
      projects: 'src/*[Tt]ests/*.csproj'
      arguments: '--filter TestType=IntegrationTest --configuration $(BuildConfiguration)'
      failOnStandardError: 'true'
    timeoutInMinutes: 10

  - script: |
      reportgenerator "-reports:src/**/coverage.cobertura.xml" "-targetdir:$(Build.ArtifactStagingDirectory)" -reporttypes:HtmlInline_AzurePipelines;Cobertura;SonarQube;Badges "-assemblyfilters:+Catalyst.Core.*;+Catalyst.Modules.*;"
    displayName: 'Generate unit test coverage'
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
  - task: PublishBuildArtifacts@1
    displayName: 'Store coverage report'
    inputs:
      ArtifactName: 'coverage-report'
      failOnStandardError: 'true'
    condition: eq( variables['Agent.OS'], 'Windows_NT' )

  - task: PublishCodeCoverageResults@1
    displayName: 'Publish coverage report'
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(Build.ArtifactStagingDirectory)/Cobertura.xml'
      reportDirectory: '$(Build.ArtifactStagingDirectory)'
      failOnStandardError: 'true'
    condition: eq( variables['Agent.OS'], 'Windows_NT' )